@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: #1b0a44;
    background-image: linear-gradient(to top, #250a24, #401570 );
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.05);
}

#navbar_title p {
    background-color: #c5b6d1;
    background-image: linear-gradient(0.1turn, #ffd649, #ffa253);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
}

.navbar_links {
    color: #fff;
    display: flex;
    padding: 0 1rem;
    height: 100%;
}

body {
    background-color: #250a24;
    text-align: center
}

h1 {
    padding-top: 10px;
    color: #fff;
    text-align: center;
}

h2 {
    color: #fff;
    text-align: center;
}

p {
    font-size: 1.4rem;
    color: #fff;
}

.main {
    word-wrap: break-word;
}

#title {
    padding-top: 10px;
}

.intro_content {
    padding-top: 10px;
}

.intro_content {
    padding-left: 150px;
    padding-right: 150px;
}

.highlight_text {
    color: #3f74e7;
}

.question_text {
    padding-top: 20px;
}

.selectors {
    display: grid;
    gap: 10px;
    justify-content: center;
    padding: 20px 10px 10px 10px;
}

#btn {
    height: 60px;
    width: 250px;
    background-color: #4b2c9e;
    padding: 10px 10px 10px 10px;
    border: 2px solid #180b24;
    border-radius: 10px;
    color: #fff;
    transition: all 0.2s ease;
}

#btn_active {
    background-image: linear-gradient(to top, #09072b, #713fe7);
    border: 5px solid #99f84c;
    transition: all 0.2s ease;
}

#btn:hover {
    background-color: #2c2455;
    border: 4px solid #e73f3f;
    transition: all 0.2s ease;
}

.btn_content {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
}